/* ----- PAGE STYLING ----- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
body{
    font-family: 'Raleway', sans-serif;
    background-color: rgb(245, 245, 245);
    color: rgb(40, 40, 40);
}
#banner-page img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#navbar{
    height: 60px;
    opacity: 100%;
    text-align: center;
    position: sticky;
    top: 0;
    transition: top 0.3s;
    z-index: 1;

}
#navbar #menu ul{
    display: inline-block;
    list-style-type: none;
}
#navbar #menu li{
    float: left;
    margin: 30px
}
#navbar #menu a{
    color: white;
    text-decoration: none;
}
#navbar #menu a:hover{
    color: rgb(25, 25, 25);
    border: none;
    text-decoration: none;
}
#navbar #menu a:active{
    color:#270e00;
    border: none;
    text-decoration: none;
}
#banner-page .icons img{
    width: 28px;
    height: 28px;
}
#banner-page .icons ul{
    display: inline-block;
    list-style-type: none;
}
#banner-page .icons li{
    float: left;
    margin: 20px;
}
#banner-page .icons.moveToNavbar {
    text-align: center;
    animation: fadeIn ease 4s, transform ease 3s;
    -webkit-animation: fadeIn ease 4s, transform ease 3s;
    -moz-animation: fadeIn ease 4s, transform ease 3s;
    -o-animation: fadeIn ease 4s, transform ease 3s;
    -ms-animation: fadeIn ease 4s, transform ease 3s;
    animation-fill-mode: forwards;
}
@keyframes transform {
    0% {transform: translate3d(0px, 0px, 0px); }
    60% {transform: translate3d(0px, 0px, 0px); }
    100% { transform: translate3d(0px, 500px, 0px); }
}
@-moz-keyframes transform {
    0% {transform: translate3d(0px, 0px, 0px); }
    60% {transform: translate3d(0px, 0px, 0px); }
    100% { transform: translate3d(0px, 0px, 0px); }
}
@-webkit-keyframes transform {
    0% {transform: translate3d(0px, 0px, 0px); }
    65% {transform: translate3d(0px, 0px, 0px); }
    100% { transform: translate3d(0px, 0, 0px); }
}
@-o-keyframes transform {
    0% {transform: translate3d(0px, 0px, 0px); }
    65% {transform: translate3d(0px, 0px, 0px); }
    100% { transform: translate3d(200px, -195px, 0px); }
}
@-ms-keyframes transform {
    0% {transform: translate3d(0px, 0px, 0px); }
    65% {transform: translate3d(0px, 0px, 0px); }
    100% { transform: translate3d(200px, -195px, 0px); }
}
@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}
@-o-keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}
@-ms-keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}

/* ----- INDEX PAGE ----- */
.container h1 {
    margin-top: 100px;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
}
.container h2 {
    margin-top: 30px;
    font-size: 3rem;
    font-weight: normal;
    color: rgb(255, 255, 255);
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
}
.container h3 {
    margin-top: 10px;
    font-size: 2rem;
    font-weight: normal;
    color: rgb(255, 255, 255);
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
}
.container .typed-text {
    font-weight: 400;
    color: rgb(255, 255, 255);
}
.cursor {
    display: inline-block;
    width: 2px;
    height: 50px;
    background-color: rgb(27, 27, 27);
    margin-left: 0.1rem;
    animation: blink 0.9s infinite;
}
.cursor.disable{
    display: none;
    width: 0px;
    height: 0px;
    background-color: white;
}
.cursor.typing {
    animation: none;
}
@keyframes blink {
    0% { background-color: rgb(27, 27, 27);}
    35% {background-color: rgb(27, 27, 27);}
    50% {background-color: transparent;}
    85% { background-color: transparent;}
    100% { background-color: rgb(27, 27, 27);}
}



/* ----- CONTACT PAGE ----- */
.contact-form{
    margin-top: 100px;
    margin-left: 15%;
}
.contact-form p{
    font-weight: bold;
}
.contact-form h1{
    margin-bottom: 1rem;
}